### МАИ
### ФИО студента: Меркулов Лев Владимирович
### группа: Т120-101М-20
### ФИО руководителя: Поповкин Александр Викторович
### дата: 18.11.2020
### Pandas, Лаб раб № 2
### Москва, 2020 г.

- Получить от объекта Series показатели описательной статистики

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt

In [2]:
df = pd.DataFrame({'A': [1, 2, 1, 4, 3, 5, 2, 3, 4, 1], 
                           'B': [12, 14, 11, 16, 18, 18, 22, 13, 21, 17], 
                           'C': ['a', 'a', 'b', 'a', 'b', 'c', 'b', 'a', 'b', 'a']})

print(df.describe(), '\n') #описательная статистика
print(df['C'].describe()) #для нечисловых элементов

               A          B
count  10.000000  10.000000
mean    2.600000  16.200000
std     1.429841   3.705851
min     1.000000  11.000000
25%     1.250000  13.250000
50%     2.500000  16.500000
75%     3.750000  18.000000
max     5.000000  22.000000

count     10
unique     3
top        a
freq       5
Name: C, dtype: object

- Узнать частоту уникальных элементов объекта Series (гистограмма)

In [5]:
ds = pd.Series([1,1,2,3])
ds_unique = ds.unique
ds_count = ds.value_counts()
ds_count_freq = pd.Series([ float(i/ds.count()) for i in ds_count])
ds_count_freq.index += 1
print(ds, ds_unique, ds_count, ds_count_freq, sep = '\n\n')

0    1
1    1
2    2
3    3
dtype: int64

<bound method Series.unique of 0    1
1    1
2    2
3    3
dtype: int64>

1    2
3    1
2    1
dtype: int64

1    0.50
2    0.25
3    0.25
dtype: float64

- Заменить все элементы объекта Series на "Other", кроме двух наиболее часто встречающихся

In [167]:
ds = pd.Series(np.random.randint(1, 5, size = 8))
ds_count = ds.value_counts()
s = ds.value_counts()[2:] #top frequent elements starting from the 3rd

print(ds, '\n')
res = ds[ds.isin(s.index)]
ds[res.index] = 'Other'

print(ds_count, s, res, ds, sep = '\n\n')

0    4
1    1
2    3
3    3
4    2
5    4
6    4
7    2
dtype: int64

4    3
3    2
2    2
1    1
dtype: int64

2    2
1    1
dtype: int64

1    1
4    2
7    2
dtype: int64

0        4
1    Other
2        3
3        3
4    Other
5        4
6        4
7    Other
dtype: object

- Создать объект Series в индексах дата каждый день 2019 года, в значениях случайное значение

In [149]:
date_idx = pd.date_range(start='2019-01-01', end='2019-12-31') 
s = pd.Series(np.random.rand(len(date_idx)), index=date_idx)
s

2019-01-01    0.561175
2019-01-02    0.607708
2019-01-03    0.454613
2019-01-04    0.765596
2019-01-05    0.622927
                ...
2019-12-27    0.916669
2019-12-28    0.780735
2019-12-29    0.444075
2019-12-30    0.380059
2019-12-31    0.865478
Freq: D, Length: 365, dtype: float64

- Найти сумму всех вторников

In [150]:
s[s.index.weekday == 2].sum()

28.09832547351042

- Для каждого месяца найти среднее значение

In [153]:
s.resample('M').mean()

2019-01-31    0.601175
2019-02-28    0.517054
2019-03-31    0.628315
2019-04-30    0.484462
2019-05-31    0.570039
2019-06-30    0.489122
2019-07-31    0.498348
2019-08-31    0.529193
2019-09-30    0.542768
2019-10-31    0.492407
2019-11-30    0.452753
2019-12-31    0.570638
Freq: M, dtype: float64

- Преобразовать объект Series в DataFrame заданной формы (shape)

In [169]:
s = pd.Series(np.random.randint(1, 10, [24]))
shape = (6,4)
df = pd.DataFrame(s.values.reshape(shape))
df

   0  1  2  3
0  2  5  7  7
1  2  9  8  1
2  1  2  5  1
3  8  8  9  5
4  9  5  7  4
5  6  8  7  3

- Найти индексы объекта Series кратные 3

In [171]:
s = pd.Series(np.random.randint(1, 10, [7]))
print(s, '\n') 
s[s % 3 == 0].index

0    6
1    2
2    4
3    8
4    6
5    8
6    6
dtype: int64

Int64Index([0, 4, 6], dtype='int64')

- Получить данные по индексам объекта Series

In [175]:
s = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
p = [1, 3, 8, 14, 18, 10]
s[p]

1     b
3     d
8     i
14    o
18    s
10    k
dtype: object

- Объединить два объекта Series вертикально и горизонтально

In [183]:
s1 = pd.Series(np.random.randint(1,5,[7]))
s2 = pd.Series(['a','b','c','d','e','f','g'])

print(pd.concat([s1, s2], axis = 0),
      pd.concat([s1, s2], axis = 1), sep = '\n\n'
     )

0    4
1    2
2    2
3    2
4    1
5    2
6    2
0    a
1    b
2    c
3    d
4    e
5    f
6    g
dtype: object

   0  1
0  4  a
1  2  b
2  2  c
3  2  d
4  1  e
5  2  f
6  2  g

- Получить индексы объекта Series A, данные которых содержатся в объетке Series B

In [188]:
a = pd.Series([1,2,3,4])
b = pd.Series([2,6,4,8])

# с индексами
a[a.isin(b)].index

Int64Index([1, 3], dtype='int64')

- Получить объект Series B, котоырй содержит элементы без повторений объекта A

In [190]:
a = pd.Series(np.random.randint(1, 10, [10]))
b = pd.Series(a.unique())
b

0    6
1    9
2    4
3    1
4    7
dtype: int64

- Преобразовать каждый символ объекта Series в верхний регистр

In [191]:
s = pd.Series(['a','b','c','d', 'e'])
res = pd.Series(i.title() for i in s)
res

0    A
1    B
2    C
3    D
4    E
dtype: object

- Преобразовать данных Series в строку

In [229]:
s = pd.Series([112,'b','c','d', 'e'])
#s.apply(str)
pd.Series(str(i) for i in s)

0    112
1      b
2      c
3      d
4      e
dtype: object

- Рассчитать количество символов в объекте Series

In [232]:
s = pd.Series(['af','b','c','d', 'e'])
np.asarray([len(i) for i in s])

array([2, 1, 1, 1, 1])

- Найти разность между объектом Series и смещением объекта Series на n

In [254]:
n = 1
s = pd.Series([1, 5, 7, 8, 12, 15, 17])
s.index += 1
s.diff(periods = n)

1    NaN
2    4.0
3    2.0
4    1.0
5    4.0
6    3.0
7    2.0
dtype: float64

- Преобразовать разные форматы строк объекта Series в дату

In [275]:
s1 = pd.Series(['2017/01/01', '2018-02-02', '15 Apr 2020'])
s2 = pd.Series(['14.02.2019', '22.01.2019', '01.03.2019'])
 
pd.to_datetime(s2, format='%d.%m.%Y'), pd.to_datetime(s1)

(0   2019-02-14
 1   2019-01-22
 2   2019-03-01
 dtype: datetime64[ns],
 0   2017-01-01
 1   2018-02-02
 2   2020-04-15
 dtype: datetime64[ns])

- Получить год, месяц, день, день недели, номер дня в году от объекта Series (string)

In [286]:
from dateutil.parser import parse
 
s = pd.Series(['01 Jan 2018', '02-02-2011', '20120303', '2013/04/04', '2018-12-31'])
print(s.values, '\n\n')

s_ts = s.map(lambda x: parse(x, yearfirst=True))
 
print(s_ts.dt.year, s_ts.dt.month, s_ts.dt.day, s_ts.dt.isocalendar().week, s_ts.dt.dayofyear, sep = '\n\n')

['01 Jan 2018' '02-02-2011' '20120303' '2013/04/04' '2018-12-31']


0    2018
1    2011
2    2012
3    2013
4    2018
dtype: int64

0     1
1     2
2     3
3     4
4    12
dtype: int64

0     1
1     2
2     3
3     4
4    31
dtype: int64

0     1
1     5
2     9
3    14
4     1
Name: week, dtype: UInt32

0      1
1     33
2     63
3     94
4    365
dtype: int64

- Отобрать элементы объекта Series, кторые содержат не менее двух гласных

In [288]:
from collections import Counter
s = pd.Series(['ззз', 'оооо', 'орнамент', 'Python', 'Апельсин', 'Mando'])
mask = s.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeiouаоиеёэыуюя')]) >= 2)
s[mask]

1        оооо
2    орнамент
4    Апельсин
5       Mando
dtype: object

- Отобрать e-маилы из объекта Series

In [12]:
import re
 
emails = pd.Series(['test text @test.com', '@mail.ru', 'test.2ru', 'test@pp'])
pattern = '[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))

emails[mask].values

array([], dtype=object)

- Получить среднее значение каждого уникального объекта Series s1 через "маску" другого объекта Series s2

In [301]:
n = 5

s1 = pd.Series(np.random.choice(['female', 'male', 'satan', 'angel'], n))
s2 = pd.Series(np.linspace(start=1,stop=n, num=n))
s2.groupby(s1).mean()

angel     3.5
female    2.0
male      4.0
dtype: float64