### МАИ
### ФИО студента: Меркулов Лев Владимирович
### группа: Т120-101М-20
### ФИО руководителя: Поповкин Александр Викторович
### дата: 12.11.2020
### Pandas, Лаб раб № 1
### Москва, 2020 г.

- Импортировать модули sys numpy pandas

In [2]:
import sys

import numpy as np

import pandas as pd

- Создать объект pandas Series из листа, объекта NumPy, и словаря

In [3]:
src_list = list('abcde')

src_arr = np.ones(10)

src_dict = {'Column': 'content'}

s = pd.Series(src_list)
print(s, type(s), '\n')

s = pd.Series(src_arr)
print(s, type(s), '\n')

s = pd.Series(src_dict)
print(s, type(s))

0    a
1    b
2    c
3    d
4    e
dtype: object <class 'pandas.core.series.Series'>

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
5    1.0
6    1.0
7    1.0
8    1.0
9    1.0
dtype: float64 <class 'pandas.core.series.Series'>

Column    content
dtype: object <class 'pandas.core.series.Series'>

- Преобразовать объект Series в DataFrame

In [18]:
s = pd.Series(np.arange(5))
s = s.to_frame()
s

   0
0  0
1  1
2  2
3  3
4  4

- объединить несколько объектов Series в Dataframe

In [36]:
#pd.concat
res = pd.concat([pd.Series('abcd'), pd.Series('1234')], axis = 1)
print(res, '\n')

res = pd.concat([pd.Series('abcd'), pd.Series('1234')], axis = 0)
print(res)

      0     1
0  abcd  1234

0    abcd
0    1234
dtype: object

- Присвоить имя индексу объекта Series

In [20]:
s = pd.Series({'a': 1, 'b': 2, 'c': 3})
s.name = 'test'
s

a    1
b    2
c    3
Name: test, dtype: int64

- Получить элементы объекта Series A, которых нет в объекте Series B -- с индексами \ значения

In [54]:
a = pd.Series([1,2,3,4])
b = pd.Series([1,6,3,8])

# с индексами
print(a[a.isin(b)], '\n') # совпадающие элементы 
print(a[~a.isin(b)], '\n') # различные элементы

# значения
print(pd.Series(list(set(a).intersection(set(b))))) #пересечение set`ов, потом преобразование списка в Series

0    1
2    3
dtype: int64

1    2
3    4
dtype: int64

0    1
1    3
dtype: int64

- Получить не пересекающиеся элементы в двух объектах Series -- возвратить вместе с индексами

In [80]:
a = pd.Series([1,2,3,4])
b = pd.Series([1,6,3,8])

common = pd.Series(list(set(a).intersection(set(b))))
print(pd.concat([(a[~a.isin(common)]) , (b[~b.isin(common)])]))

1    2
3    4
1    6
3    8
dtype: int64

- Получить объединенный Series без повторений

In [85]:
a = pd.Series([1,2,3,4])
b = pd.Series([1,6,3,8])

res = pd.Series(np.union1d(a, b))
res

0    1
1    2
2    3
3    4
4    6
5    8
dtype: int64

- Получить пересекающиеся данные

In [87]:
a = pd.Series([1,2,3,4])
b = pd.Series([1,6,3,8])

res = pd.Series(np.intersect1d(a,b))
res

0    1
1    3
dtype: int64

- Отобрать все данные, кроме пересекающихся. Возвратить значения

In [100]:
a = pd.Series([1,2,3,4])
b = pd.Series([1,6,3,8])

s_union = pd.concat([a,b], 0)
s_intersect = pd.Series(np.intersect1d(a,b))

common = s_union[~s_union.isin(s_intersect)]
print(common, '\n')

# возвратить значения (уникальные)
np.setxor1d(a, b)

1    2
3    4
1    6
3    8
dtype: int64

array([2, 4, 6, 8])